body {
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: rgb(202, 213, 213);
}

a {
  text-decoration: none;
  color: rgb(103, 94, 81);
  /* прибрати все з посилання */
}

.hi {
  font-family: "Linux Libertine", "Georgia", "Times", serif;
  margin-bottom: 5px;
}
.text {
  padding-left: 10px;
  padding-right: 10px;
}

.list-conteiner {
  border: solid;
  /* Рамка */
  display: inline-block;
  padding: 10px;
  border-width: 0.5px;
  /* товщина рамки */
}
.list-conteiner > p {
  text-align: center;
  /* розмістити по центру */
  font-weight: bold;
  /* товщина */
  margin: 0px;
}
.list-conteiner > ol {
  margin-bottom: 0px;
  margin-top: 10px;
  /* відступ від блоку */
  padding-left: 20px;
  /* відступ з середини */
}
.list-conteiner > ol > li {
  margin-top: 5px;
}
.rightborder {
  float: right;
  /* пересування rigth-left, обтікання */
  border: solid;
  padding: 5px;
  margin-left: 10px;

  margin-top: 10px;
}

.rightborder > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* nav panel */

.navi_panel {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.navi_panel {
  background-color: black;
  color: aliceblue;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.navi_panel > nav > ul {
  display: flex;
  list-style: none;
  margin: 0px;
  padding-left: 0px;
}

.navi_panel > nav > ul > li {
  margin: 10px;
}
.navi_panel > nav > ul > li > a {
  color: antiquewhite;
}

input {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  /* закркглення кутів */
  /* input додає поле з паролем або логином */
}

nav {
  /* padding-top: 5px; */
}
.separator {
  border-top: 1px solid #000000;
}

@media (max-width: 900px) {
  .navi_panel {
    flex-direction: column;
  }
}
/*  змінює властивости флексу на 900px*/

.page {
  display: flex;
}

.header {
  width: 14%;
}

.section {
  width: 86%;
}

/* leftlist --------------- */

.header > ol {
  list-style: none;
  /* border-bottom-style: solid; */
  /* нижня частина рамки (линия) */
  /* border-width: 0.5px; */
  margin: 30px;
  padding: 0px;
  padding-bottom: 10px;
}
.header {
  background-color: rgb(163, 172, 172);
}
.header > div {
  width: 100%;
}
.header > div > img {
  width: 180px;
  margin-left: 21px;
  margin-top: 10px;
}
.leftlist > h4 {
  font-weight: normal;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0,
    #000000f7 33%,
    #2d2e30 66%,
    rgba(0, 0, 0, 0) 100%
  );
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 1px;
  margin-bottom: 5px;
}
